python-dotenv==1.2.1
llama-index==0.14.10
llama-index-llms-azure_openai==0.4.2
llama-index-embeddings-azure_openai==0.4.1
llama-index-vector-stores-pinecone==0.7.1
pydantic==2.12.5
pydantic_settings==2.12.0
fastapi==0.124.4
fastapi[standard]